* {
    box-sizing: border-box;
}

@font-face {
    font-family: 'sky';
    src: url(../fonts/Futura\ Condensed\ Light\ Regular.otf);
}

body {
    background-color: black;
}

header {
    width: 100%;
}

header>img {
    width: 100%;
    -webkit-filter: opacity(1);
    filter: opacity(1);
    margin: auto;

}

.img-container {
    display: grid;
    justify-content: center;
    align-content: space-evenly;
}

#List {
    display: none;
    list-style-type: none;
}

.RACES {
    display: flex;
    width: 15%;
    margin: auto;
    border-radius: 50%;
    border: 2px solid black;
}

.titulosrazas {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
    transition: .5s;
}

.titulosrazas:hover {
    color: rgb(114, 114, 114);
    letter-spacing: 7px;

}


@media screen and (min-width: 768px) {

    h1 {
        color: #797979;
        text-align: center;
        font-size: 3em;
        font-family: 'sky';
        border-bottom: 1px solid white;
        width: 5%;
        margin: auto;
    }

    h2::first-letter {
        font-size: 1.6em;
    }

    /*boton*/

    div[class*=box] {
        height: 13%;
        width: 10%;
        display: flex;
        justify-content: flex-start;
        align-items: center;
    }

    .box-1 {
        background-color: #424242;
    }

    .btn {
        line-height: 50px;
        height: 50px;
        text-align: center;
        width: 250px;
        cursor: pointer;
    }

}


audio {
    width: 100%;
    opacity: 0.5;
}

@media screen and (min-width: 768px) {
    .info-general {
        color: aliceblue;
        width: 50%;
        font-size: 1.3em;
        background-image: url(../multimedia/img/FONDOsky.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        padding: 5%;
        border-radius: 85px;
        box-shadow: 33px 33px 66px #121212,
            -33px -33px 66px #3c3c3c;
        border: 1px solid whrgb(0, 0, 0);
    }

}

@media screen and (max-width: 768px) {
    .info-general {
        color: aliceblue;
        width: 100%;
        font-size: 1em;
        padding: 5%;
        padding: 5%;
        border-radius: 5px;
        background: linear-gradient(145deg, #797979, #232323);
        box-shadow: 33px 33px 66px #121212,
            -33px -33px 66px #3c3c3c;
        border: 1px solid whrgb(0, 0, 0);
        margin-top: 50%;
    }

}

/*seccion2*/
@media screen and (min-width: 768px) {
    .info-general--2 {
        color: rgb(255, 255, 255);
        width: 50%;
        font-size: 1.3em;
        background-color: #272727;
        padding: 5%;
        border-radius: 85px;
        background-image: url(../multimedia/img/fondo3.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        box-shadow: 33px 33px 66px #121212,
            -33px -33px 66px #3c3c3c;
        border: 1px solid whrgb(0, 0, 0);
        float: right;

    }

}

@media screen and (max-width: 768px) {
    .info-general--2 {
        color: aliceblue;
        width: 100%;
        font-size: 1em;
        padding: 5%;
        background-color: #272727;
        padding: 5%;
        border-radius: 5px;
        background: linear-gradient(145deg, #8b8b8b, #232323);
        box-shadow: 33px 33px 66px #121212,
            -33px -33px 66px #3c3c3c;
        border: 1px solid whrgb(0, 0, 0);
        margin-top: 20%;
    }

}

h2 {
    font-size: 4em;
    font-family: 'sky';
    letter-spacing: 2px;
    font-weight: bolder;
}

/*seccion3 probar grid o flex*/

@media screen and (min-width: 768px) {
    .info-general--3 {
        color: aliceblue;

        width: 100%;
        font-size: 1.3em;
        background-color: #272727;
        padding: 5%;
        border-radius: 85px;
        background: linear-gradient(145deg, #0f0f0f, #232323);
        box-shadow: 33px 33px 66px #121212,
            -33px -33px 66px #3c3c3c;
        border: 1px solid whrgb(0, 0, 0);
        float: right;
        margin-top: 5%;


    }

}

@media screen and (max-width: 768px) {
    .info-general--3 {
        color: aliceblue;
        width: 100%;
        font-size: 1em;
        padding: 5%;
        background-color: #272727;
        padding: 5%;
        border-radius: 5px;
        background: linear-gradient(145deg, #7e7e7e, #232323);
        box-shadow: 33px 33px 66px #121212,
            -33px -33px 66px #3c3c3c;
        border: 1px solid whrgb(0, 0, 0);
        margin-top: 20%;
    }

}


@media screen and (max-width: 768px) {
    main {
        background-image: url(../multimedia/img/FONDOsky.jpg);
        background-position: center;
        background-size: cover;
        background-attachment: fixed;
    }

}

/*FLECHA SCROLL*/
.arrows {
    width: 60px;
    height: 72px;
    position: absolute;
    left: 50%;
    margin-left: -30px;
    bottom: 20px;
}

@media screen and (max-width:768px) {
    .arrows {
        width: 20%;
        height: 72px;
    }
}

/* 
========================
            BUTTON ONE
========================
      */
.btn-one {
    color: #FFF;
    transition: all 0.3s;
    position: relative;
}

.btn-one span {
    transition: all 0.3s;
    font-family: 'sky';
    font-size: 1.2em;
}

.btn-one::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    opacity: 0;
    transition: all 0.3s;
    border-top-width: 1px;
    border-bottom-width: 1px;
    border-top-style: solid;
    border-bottom-style: solid;
    border-top-color: rgba(255, 255, 255, 0.5);
    border-bottom-color: rgba(255, 255, 255, 0.5);
    transform: scale(0.1, 1);
}

.btn-one:hover span {
    letter-spacing: 2px;
}

.btn-one:hover::before {
    opacity: 1;
    transform: scale(1, 1);
}

.btn-one::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    transition: all 0.3s;
    background-color: rgba(255, 255, 255, 0.1);
}

.btn-one:hover::after {
    opacity: 0;
    transform: scale(0.1, 1);
}



@media screen and (max-width: 768px) {

    h1 {
        color: #797979;
        text-align: center;
        font-size: 3em;
        font-family: 'sky';
        border-bottom: 1px solid white;
        width: 50%;
        margin: auto;
    }

}


audio {
    width: 100%;
    opacity: 0.5;
}

@media screen and (min-width: 768px) {
    .info-general {
        color: aliceblue;
        width: 50%;
        font-size: 1.3em;
        background-image: url(../multimedia/img/FONDOsky.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        padding: 5%;
        border-radius: 85px;
        box-shadow: 33px 33px 66px #121212,
            -33px -33px 66px #3c3c3c;
        border: 1px solid whrgb(0, 0, 0);
    }

}

.my-element{

-webkit-animation: fadeIn;

animation: fadeIn;
/* referring directly to the animation's @keyframe declaration */
-webkit-animation-duration: 2s;
animation-duration: 2s;
/* don't forget to set a duration! */
}



@media screen and (max-width: 768px) {
    .info-general {
        color: aliceblue;
        width: 100%;
        font-size: 1em;
        padding: 5%;
        padding: 5%;
        border-radius: 5px;
        background: linear-gradient(145deg, #797979, #232323);
        box-shadow: 33px 33px 66px #121212,
            -33px -33px 66px #3c3c3c;
        border: 1px solid whrgb(0, 0, 0);
        margin-top: 50%;
    }

}

/*seccion2*/
@media screen and (min-width: 768px) {
    .info-general--2 {
        color: rgb(255, 255, 255);
        width: 50%;
        font-size: 1.3em;
        background-color: #272727;
        padding: 5%;
        border-radius: 85px;
        background-image: url(../multimedia/img/fondo3.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        box-shadow: 33px 33px 66px #121212,
            -33px -33px 66px #3c3c3c;
        border: 1px solid whrgb(0, 0, 0);
        float: right;

    }

}

@media screen and (max-width: 768px) {
    .info-general--2 {
        color: aliceblue;
        width: 100%;
        font-size: 1em;
        padding: 5%;
        background-color: #272727;
        padding: 5%;
        border-radius: 5px;
        background: linear-gradient(145deg, #8b8b8b, #232323);
        box-shadow: 33px 33px 66px #121212,
            -33px -33px 66px #3c3c3c;
        border: 1px solid whrgb(0, 0, 0);
        margin-top: 20%;
    }

}

h2 {
    font-size: 4em;
    font-family: 'sky';
    letter-spacing: 2px;
    font-weight: bolder;
}

/*seccion3*/

@media screen and (min-width: 768px) {
    .info-general--3 {
        color: aliceblue;
        width: 100%;
        font-size: 1.3em;
        background-color: #272727;
        padding: 5%;
        border-radius: 85px;
        background: linear-gradient(145deg, #2a2a2a, #232323);
        box-shadow: 33px 33px 66px #121212,
            -33px -33px 66px #3c3c3c;
        border: 1px solid whrgb(0, 0, 0);
        float: right;
        margin-top: 5%;

    }

}

@media screen and (max-width: 768px) {
    .info-general--3 {
        color: aliceblue;
        width: 100%;
        font-size: 1em;
        padding: 5%;
        background-color: #272727;
        padding: 5%;
        border-radius: 5px;
        background: linear-gradient(145deg, #7e7e7e, #232323);
        box-shadow: 33px 33px 66px #121212,
            -33px -33px 66px #3c3c3c;
        border: 1px solid whrgb(0, 0, 0);
        margin-top: 20%;
    }

}


@media screen and (max-width: 768px) {
    main {
        background-image: url(../multimedia/img/FONDOsky.jpg);
        background-position: center;
        background-size: cover;
        background-attachment: fixed;
    }

}

/*FLECHA SCROLL*/
.arrows {
    width: 60px;
    height: 72px;
    position: absolute;
    left: 50%;
    margin-left: -30px;
    bottom: 20px;
}

@media screen and (max-width:768px) {
    .arrows {
        width: 20%;
        height: 72px;
        position: relative;
    }
}

.arrows path {
    stroke: #797979;
    fill: transparent;
    stroke-width: 1px;
    animation: arrow 2s infinite;
    -webkit-animation: arrow 2s infinite;
}

@keyframes arrow {
    0% {
        opacity: 0
    }

    40% {
        opacity: 1
    }

    80% {
        opacity: 0
    }

    100% {
        opacity: 0
    }
}

@-webkit-keyframes arrow

/*Safari and Chrome*/
    {
    0% {
        opacity: 0
    }

    40% {
        opacity: 1
    }

    80% {
        opacity: 0
    }

    100% {
        opacity: 0
    }
}

.arrows path.a1 {
    animation-delay: -1s;
    -webkit-animation-delay: -1s;
    /* Safari 和 Chrome */
}

.arrows path.a2 {
    animation-delay: -0.5s;
    -webkit-animation-delay: -0.5s;
    /* Safari 和 Chrome */
}

.arrows path.a3 {
    animation-delay: 0s;
    -webkit-animation-delay: 0s;
    /* Safari 和 Chrome */
}

/*ANIMACSS*/
.my-element {
    display: inline-block;
    margin: 0 0.5rem;

    animation: fadeIn;
    /* referring directly to the animation's @keyframe declaration */
    animation-duration: 2s;
    /* don't forget to set a duration! */
}

/* This only changes this particular animation duration */
.animate__animated.animate__fadeIn {
    --animate-duration: 7s;
}

/* This changes all the animations globally */
:root {
    --animate-duration: 800ms;
    --animate-delay: 0.9s;
}
